/* main styles */
body {
    color: #fff;
    background-color: #000;
    font-family: Arial;
}

button {
    cursor: pointer;
}

.grid {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.fullImage,
.previewImage {
    border: 5px solid #fff;
}

.previewImage {
    cursor: pointer;
    margin: 5px;
    height: 100px;
}
/* end main styles */

/* lightbox styles */
.lightbox {
    background-color: rgba(200, 200, 200, 0.9);
    color: #333;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.show {
    display: flex;
    justify-content:center;
}

.imageDescription,
.imageNavigation {
    text-align: center;
}

.lightboxFigure {
    margin: 5vh 0 0;
    position: relative;
}

.closeButton {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    right: 5px;
    top: 5px;
}

.fullImage {
    height: 80vh;
}
/* end lightbox styles */

/* text meant only for screen readers */
.srOnly {
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    width: 1px;
}